#mainbuttons {
  background-color: #091540;
  border-color: #091540;
  transition: 0.3s;
}

#mainbuttons:hover {
  background-color: #1b2cc1;
  border-color: #1b2cc1;
  transition: 0.3s;
}

#mainbuttons:focus{
  border-color: #1b2cc1;
}

#text {
  color: #abd2fa;
}

#centeredtext {
  color: #abd2fa;
  text-align: center;
}

#cardtext {
  color: #abd2fa;
  transition: 0.3s;
}

#cardtext:hover {
  color: #3d518c;
  transition: 0.3s;
}

.navbar {
  background-color: transparent;
}

@media (max-width: 1023px) {
  #titlediv,
  #aboutmediv,
  #projectdiv,
  #contactdiv {
    padding-top: 10%;
    padding-right: 15%;
    padding-bottom: 5%;
    padding-left: 15%;
    box-sizing: border-box;
  }

  #maintitle {
    font-size: relative-size;
    color: #abd2fa;
  }

  #profile {
    float: right;
    padding-right: 50px;
  }

  .card {
    background-color: #091540;
    width: 100%;
  }

  #profile {
    float: left;
    margin: 30px 12px 3px 4px;
  }

  th,
  td {
    padding: 2%;
    display: block;
    box-sizing: border-box;
  }
}

@media (min-width: 1024px) {
  #titlediv,
  #aboutmediv,
  #projectdiv,
  #contactdiv {
    padding-top: 10%;
    padding-right: 20%;
    padding-bottom: 5%;
    padding-left: 20%;
  }

  #navbartext {
    color: #abd2fa;
    font-size: 110%;
    transition: 0.3s;
  }

  #navbartext:hover {
    background-color: #3d518c;
    color: #091540;
    transition: 0.3s;
  }

  #navbartext:active,
  #navbartext:visited {
    background-color: #3d518c;
  }

  #maintitle {
    font-size: 700%;
    color: #abd2fa;
  }

  #navbarstart {
    padding-left: 5%;
  }

  #navbarend {
    padding-right: 5%;
  }

  .card {
    background-color: #091540;
  }

  #profile {
    float: left;
    margin: 2% 6% 1% 2%;
  }

  th,
  td {
    padding: 2%;
  }
}

html {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

body {
  background-color: #3d518c;
}

h1 {
  color: #abd2fa;
}
